[flake8]
ignore = W503
max-line-length = 109

exclude =
    snoop/wsgi.py
    docker-setup
    docs/*override.py

per-file-ignores =
    testsuite/*: E501, F405, F403
    snoop/data/migrations/*: E501
    snoop/common_data/migrations/*: E501, F401
