[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"

[packages]
amqp = '*'
attrs = '*'
autopep8 = '*'
billiard = '*'
bleach = '*'
cachetools = '*'
celery = '*'
certifi = '*'
chardet = '*'
click = '*'
django-silk = '*'
first = '*'
google-api-core = '*'
google-auth = '*'
googleapis-common-protos = '*'
gprof2dot = '*'
html5lib = '*'
idna = '*'
kombu = '*'
langdetect = '*'
more-itertools = '*'
pip-tools = '*'
pluggy = '*'
polyglot = '*'
protobuf = '*'
psycopg2-binary = '*'
py = '*'
pyasn1-modules = '*'
pyasn1 = '*'
pycld2 = '*'
pycodestyle = '*'
pytest-django = '==4.2.0' # later version breaks database access in tests
pytest = '*'
python-dateutil = '*'
pytz = '*'
requests = '*'
rsa = '*'
six = '*'
sqlparse = '*'
tornado = '*'
urllib3 = '*'
vine = '*'
gunicorn = '*'
webencodings = '*'
whitenoise = '*'
Babel = '*'
Django = '~=3.1'
ExifRead = '*'
Jinja2 = '*'
MarkupSafe = '*'
prometheus_client = '*'
Pygments = '*'
PyICU = "==2.5"
pyrabbit = "*"
prompt_toolkit = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
drf-yasg = {extras = ["validation"], version = "*"}
uritemplate = "*"
pillow = "*"
django-ranged-response = "*"
pytest-timeout = "*"
graphene-django = "*"
minio = "*"
smart-open = {extras = ["s3"], version = "*"}
pyexcel = "*"
pyexcel-io = "*"
pyexcel-xls = '*'
pyexcel-xlsx = '*'
pyexcel-ods3 = '*'
pyexcel-ods = '*'
pyexcel-htmlr = '*'
pyexcel-xlsxr = '*'
pyexcel-xlsbr = '*'
pyexcel-ezodf = '*'
lxml = '*'
odfpy = '*'
openpyxl = '*'
pyxlsb = '*'
xlrd = '*'
xlwt = '*'
uptrace = "*"
opentelemetry-instrumentation-django = "*"
opentelemetry-instrumentation-psycopg2 = "*"
opentelemetry-instrumentation-logging = "*"
opentelemetry-instrumentation-celery = "*"
opentelemetry-instrumentation-requests = "*"
# not used: elasticsearch library
# opentelemetry-instrumentation-elasticsearch = "*"
# downgrade grpcio as per https://github.com/grpc/grpc/issues/31885
grpcio = "<=1.50"

[requires]
python_version = "3.9"
