{% extends "admin/base_site.html" %}
{% load pretty_size %}

{% block content %}

<h2>Tasks</h2>
<table>
  <thead>
    <th>func</th>
    <th>pending</th>
    <th>success</th>
    <th>error</th>
    <th>1m</th>
  </thead>

  <tbody>
    {% for func, row in task_matrix %}
    <tr>
      <th>{{ func }}</th>
      <td>{{ row.pending }}</td>
      <td>{{ row.success }}</td>
      <td>{{ row.error }}</td>
      <td>{{ row.1m }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Collections</h2>
<strong>{{ collections.files }}</strong> files<br>
<strong>{{ collections.directories }}</strong> directories<br>

<h2>Storage</h2>
<strong>{{ blobs.count }}</strong> blobs<br>
<strong>{{ blobs.size|pretty_size }}</strong> in blob storage<br>
<strong>{{ database.size|pretty_size }}</strong> in database<br>

{% endblock %}
