{% extends "admin/base_site.html" %}
{% load pretty_size %}

{% block content %}

<h2>Tasks</h2>
<strong>{{ tasks.pending }}</strong> pending<br>
<strong>{{ tasks.success }}</strong> success<br>
<strong>{{ tasks.error }}</strong> error<br>
<strong>{{ tasks.1m }}</strong> 1m<br>

<h2>Collections</h2>
<strong>{{ collections.files }}</strong> files<br>
<strong>{{ collections.directories }}</strong> directories<br>

<h2>Storage</h2>
<strong>{{ blobs.count }}</strong> blobs<br>
<strong>{{ blobs.size|pretty_size }}</strong> in blob storage<br>
<strong>{{ database.size|pretty_size }}</strong> in database<br>

{% endblock %}
