{% extends "admin/base_site.html" %}
{% load pretty_size %}

{% block content %}

<h2>Collections</h2>
<table>
  <thead>
    <th>name</th>
    <th>files</th>
    <th>directories</th>
  </thead>
  <tbody>
    {% for col, row in collections %}
    <tr>
      <th><a href="stats?collection={{ col.pk }}">{{ col }}</th>
      <td>{{ row.files }}</td>
      <td>{{ row.directories }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "snoop/admin_stats_task_matrix.html" %}

<h2>Counts</h2>
<strong>{{ counts.files }}</strong> files<br>
<strong>{{ counts.directories }}</strong> directories<br>
<strong>{{ counts.blob_count }}</strong> blobs<br>
<strong>{{ counts.blob_total_size|pretty_size }}</strong> in blob storage<br>
<strong>{{ db_size|pretty_size }}</strong> in database<br>

<h2>Task errors</h2>
<table>
  <thead>
    <th>func</th>
    <th>error_type</th>
    <th>count</th>
  </thead>

  <tbody>
    {% for row in error_counts %}
    <tr>
      <th>{{ row.func }}</th>
      <td>{{ row.error_type }}</td>
      <td>{{ row.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
