{% extends "admin/base_site.html" %}
{% load pretty_size %}

{% block content %}

{% include "snoop/admin_stats_task_matrix.html" %}

<p>{{ progress_str }}<br></p>

<h2>Counts</h2>
<strong>{{ counts.files }}</strong> files<br>
<strong>{{ counts.directories }}</strong> directories<br>
<strong>{{ counts.blob_count }}</strong> blobs (total)<br>
<strong>{{ counts.blob_total_count }}</strong> objects in blob storage <br>

<strong>{{ counts.blob_total_size|pretty_size }}</strong> in blob storage, object count = {{ counts.blob_total_count }}<br>
<strong>{{ counts.collection_source_size|pretty_size }}</strong> found in collection source storage, object count = {{ counts.collection_source_count }}<br>
<strong>{{ counts.archive_source_size|pretty_size }}</strong> found in collection archives, object count = {{ counts.archive_source_count }}<br>
<strong>{{ db_size|pretty_size }}</strong> in database<br>

stats collection time: <strong>{{ stats_collection_time }}s</strong><br>

<h2>Task errors</h2>
<table>
  <thead>
    <th>func</th>
    <th>error_type</th>
    <th>count</th>
  </thead>

  <tbody>
    {% for row in error_counts %}
    <tr>
      <th>{{ row.func }}</th>
      <td>{{ row.error_type }}</td>
      <td>{{ row.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Collection Configuration</h2>

<pre>
{{ options }}
</pre>

{% endblock %}
