astunparse
bracex
click
future
jinja2
joblib
livereload
lunr[languages]
markdown
markupsafe
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-coverage
mkdocs-gen-files
mkdocs-material-extensions
mkdocs-material
mkdocs-section-index
mkdocs
mkdocstrings
nltk
pygments
pymdown-extensions
pytkdocs
pyyaml
regex
six
tornado
tqdm
wcmatch
wheel
django
djangorestframework
drf-yasg
